<div class="navbar navbar-default navbar-static-top navbar-fixed-top wox-main-navbar acme-navbar-background navbot">
 <div class="container-fluid">
   <div class="navbar-header">
     <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a href="/"><img src="../../assets/images/logo.png" alt="LetsTruck Logo" width="95px" class="wox-navbar-logo"></a>
   </div>
   <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">

     <ul class="nav navbar-nav">
      <li  ng-show="vm.visible" ui-sref-active="active"><a ui-sref="dash">Dash</a></li>
      <li  ng-show="vm.visibleTrips" ui-sref-active="active"><a ui-sref="my-trip">My trips</a></li>
      <li  ng-show="vm.visibleTrucks" ui-sref-active="active"><a ui-sref="trucks">My trucks</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li  ng-show="vm.visibleLog" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
       <li  ng-show="vm.visibleLog" ui-sref-active="active"><a ui-sref="login">Login</a></li>
       <li  ng-show="vm.visible" ui-sref-active="active"><a ui-sref="settings">Settings</a></li>
       <li  ng-show="vm.visible" ui-sref-active="active"><a ng-click="vm.logout()">Log-out</a></li>
      <!-- <li ng-show="nav.isLoggedIn() && nav.getCurrentUser().provider == 'local'" class="avatar">
         <img src="../assets/images/user.png" alt="Avatar" width="50px" height="50px">
       </li>-->
     </ul>
   </div>
 </div>
</div>
