.img-home{
  background-image: url("../assets/images/fondo.png");
  height: 35em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.logo{
  margin-top: 6em;
  margin-left: 2.7em;
}
.groud-home{
  background-color: white;
}
.section2{
  margin-top: 3em;
}


//-------Comentario css.......
.date{
  color:#b0bec5;
  margin-left: 34em;
}
.pad{
  padding: 1px;
}
