<div class="container" md-theme="custom">
  <div class="row">
    <h2 class="color-secondary-text tite">{{vmTrip.trip}}</h2>
    <md-button ui-sref="create-trip" class="md-fab md-warn md-hue-2 cus" aria-label="Profile">
      <md-icon md-svg-src="../assets/icons/add.svg"></md-icon>
    </md-button>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Search...</label>
            <input name="search" ng-model="search"/>
          </md-input-container>
        </div>
      </div>
    </div>
    <div ng-repeat="trip in vmTrip.myTrips | filter:search | orderBy:'-dateTrip'">
      <div class="col-md-4">
        <trip-cards trips="trip"></trip-cards>
      </div>
      </div>
  </div>
</div>
