.btn-login{
  float:right;
  margin-left: 36.6em;
}
.img-login{
  background-image: url("../assets/images/header.png");
  height: 40.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.panel-login{
  margin-top: 2em;
}
.logo-login{
  margin-top: 1.5em;
  margin-left: 13em;
}
