<div class="container-fluid login-back img-login">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <img class="logo-login" src="../assets/images/logo-head.png" alt="letstruck">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default panel-login animated fadeInDown">
        <div class="panel-body">
          <h1 class="color-secondary-text">Login</h1>
          <form action="loginForm" name="loginForm" md-theme="custom">
            <div class="form-group">
              <md-input-container class="md-block" flex-gt-sm>
               <label>E-mail</label>
               <input name="email" ng-model="vmLogin.auth.email"
                      required minlength="10" maxlength="50" ng-pattern="/^.+@.+\..+$/" />
               <div class="hint" ng-show="showHints"></div>
               <div ng-messages="loginForm.email.$error" ng-hide="showHints">
                 <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                   Your email look like an e-mail address.
                 </div>
               </div>
             </md-input-container>
            </div>
            <div class="form-group">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input type="Password" required name="password" ng-model="vmLogin.auth.password"/>
                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                <div ng-messages="loginForm.password.$error" ng-if="!showHints">
                  <div ng-message="required">Password is required.</div>
                </div>
              </md-input-container>
            </div>
            <md-button ng-disabled="loginForm.$invalid" ng-click="vmLogin.go()" class="md-fab md-warn md-hue-2 btn-login" aria-label="Profile">
              <md-icon md-svg-src="../assets/icons/rigth_arrow.svg"></md-icon>
            </md-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
